div.wrapper {
  margin: 10px;
}

h1 {
  font-size: 2em;
  margin: 0.2em 0;
  border-bottom: 5px solid;
  margin-bottom: 15px;
  padding-bottom: 5px;
}

table.table tbody > :nth-child(2n-1) {
  background: #efefef;
}

table.table thead.options {
  font-size: .85em;
  color: #0074D9;
}

table.table tbody.math {
  font-size: .8em;
}

.btn {
  font-size: 1em;
}

button.switcher {
  position: fixed;
  right: 10px;
  top: 55px
}